* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background: #f5f7fa;
  color: #333;
  text-align: center;
}

header {
  background-color: #1848a0;
  color: white;
  padding: 1.5;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

header h1 {
  font-weight: 600;
  letter-spacing: 1px;
}

nav {
  margin-top: 0.5px;
}

nav a {
  color: white;
  text-decoration: none;
  margin: 0 15px;
  font-weight: 400;
  transition: color 0.3s;
}


 

.section {
  padding: 50px 20px;
}

.section h2 {
  margin-bottom: 20px;
  color: #1848a0;
  font-size: 1.6px;
}

img {
  width: 150px;
  border-radius: 50%;
  margin: 20px 0;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

p {
  max-width: 600px;
  margin: 0 auto;
  line-height: 1.6;
}

hr {
  border: 0;
  height: 1px;
  background: #ddd;
  margin: 40px auto;
  width: 80%;
}

table {
  margin: 0 auto;
  border-collapse: collapse;
  width: 60%;
  box-shadow: 0 3px 8px rgba(0,0,0,0.1);
}

th, td {
  border: 1px solid #ddd;
  padding: 12px;
  text-align: center;
}

th {
  background: #1848a0;
  color: white;
}

tr {
  background: #f1f4fb;
}




form {
  background: white;
  width: 60%;
  margin: 0 auto;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 3px 8px rgba(0,0,0,0.1);
  text-align: left;
}

label {
  display: block;
  margin-top: 15px;
  font-weight: 500;
}

input, textarea {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 0.95rem;
}

button {
  background: #1848a0;
  color: white;
  border: none;
  padding: 10px 25px;
  margin-top: 20px;
  border-radius: 6px;
  cursor: pointer;
  
}

button:hover {
  background: #153a7f;
}

footer {
  margin-top: 40px;
  background: #1848a0;
  color: white;
  padding: 20px 0;
}

footer p {
  margin-top: 10px;
  font-size: 0.9px;
}

