*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    background: white;
    color: rgb(48, 48, 48);
}


header{
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
    background: white;
    position: sticky;
    top: 0;
}

header nav a{
    margin-left: 1rem;
    text-decoration: none;
    color: rgb(71, 71, 71);
    transition: 0.3s;
}

header nav a:hover{
    color:rgb(253, 138, 56);
}

.hero{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3rem 2rem;
}

.hero-text h1{
    font-size: 2.5rem;
}

.role{
    font-size: 1.8rem;
    animation: colorChange 3s infinite alternate;
}

@keyframes colorChange{
    0%{ color: rgb(250, 108, 51); }
    100%{ color: rgb(68, 126, 252); }
}

.hero-img img{
    width: 280px;
    border-radius: 15px;
    animation: fadeIn 2s;
}

@keyframes fadeIn{
    from{ opacity: 0; transform: translateY(20px); }
    to{ opacity: 1; }
}

.btn{
    margin-top: 1rem;
    padding: 0.7rem 1.5rem;
    border: none;
    background:rgb(255, 157, 104);
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.btn:hover{
    transform: scale(1.1);
}


.section-title{
    text-align: center;
    margin: 2rem 0;
    font-size: 2rem;
}


.skills-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    gap: 1rem;
    padding: 0 2rem;
}

.card{
    background: #f2f2f2;
    padding: 2rem;
    text-align: center;
    border-radius: 10px;
    transition: 0.3s;
}

.card:hover{
    background:rgb(250, 114, 46);
    color: white;
}

.projects-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1.5rem;
    padding: 0 2rem;
}

.project-card{
    padding: 1.5rem;
    background: white;
    border-radius: 10px;
    transition: 0.3s;
}

.project-card:hover{
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
    transform: translateY(-5px);
}


.contact form{
    max-width: 400px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 0 2rem;
}

.contact input, .contact textarea{
    padding: 0.7rem;
    border-radius: 5px;
    border: 1px solid white;
}


footer{
    text-align: center;
    padding: 1rem;
    margin-top: 2rem;
    background:white;
}


@media(max-width: 768px){
    .hero{
        flex-direction: column;
        text-align: center;
    }

    .hero-img{
        margin-top: 1.5rem;
    }
}
